<div class="row">
	<div class="col-xs-12">
		<p class="lead">My CV says a lot of things. In short, I'm passionate, I work at understanding problems in the fullest and greater context, and I love building and testing solutions.</p>
		<p class="lead hidden js-most-interesting">We should hangout ... preferably at your place of employment or admission.</p>
		<label>
			<input type="checkbox" id="interestingbox"> Just see what is most interesting
		</label>
		<!--<p>Use this handy-dandy checkbox to only focus on what is most important. Or, see everything I've done.</p>-->
	</div>
</div>