<div class="slat slat-award <perch:content id="most_interesting" type="checkbox" label="Most Interesting" value="js-most-interesting" />">
	<div class="row">
		<div class="col-xs-12">
			<div class="media">
				<div class="pull-right m-t-sm"><i class="fa fa-clock-o"></i> <perch:content type="text" id="time" label="Date Awarded" title="true"/></div>
				<div class="media-body">
					<h4><perch:content type="text" id="Title" label="Title" title="true"/></h4>
				</div>
			</div>
			
		</div>
	</div>
</div>