<div class="slat slat-publication <perch:content id="most_interesting" type="checkbox" label="Most Interesting" value="js-most-interesting" />">
	<div class="row">
		<div class="col-xs-12">
			<div class="media">
				<div class="pull-left">
					<h4 class="m-t-xs">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa <perch:content type="select" id="classification" label="Classification" options="Book|fa-book, Paper|fa-file-text-o, Article|fa-newspaper-o, Presentation|fa-bullhorn, Experiment|fa-flask" allowempty="false"/> fa-stack-1x"></i>
						</span>
					</h4>
				</div>
				<div class="pull-right text-right m-t-sm">
					<i class="fa fa-clock-o"></i> <perch:content type="text" id="time" label="Publish Date" title="true"/>
					<perch:if exists="stats_read">
						<br><i class="fa fa-eye"></i> <perch:content type="text" id="stats_read" label="Read Statistics"/>
					</perch:if>
				</div>
				<div class="media-body">
					<h4><perch:content type="text" id="title" label="Title" title="true"/></h4>
					<div class="row">
						<div class="col-xs-12">
							<perch:if exists="description">
								<blockquote><perch:content type="textarea" id="description" label="Description"/></blockquote>
							</perch:if>
							<ul class="list-inline">
							<perch:if exists="class">
							<li><i class="fa fa-fw fa-graduation-cap"></i> <perch:content type="text" id="class" label="Class"/></li>
							</perch:if>
							<perch:if exists="presentation">
							<li><i class="fa fa-fw fa-bullhorn"></i> <perch:content type="text" id="presentation" label="Presentation"/></li>
							</perch:if>
							<perch:if exists="location">
							<li><i class="fa fa-fw fa-map-marker"></i> <perch:content type="text" id="location" label="Location"/></li>
							</perch:if>
							<perch:if exists="link">
							<li><i class="fa fa-fw fa-external-link"></i> <a href="<perch:content type="text" id="link" label="Link to the Work"/>"><perch:content type="select" id="link_text" label="Link Text" options="Read It, See It, Watch It"/></a></li>
							</perch:if>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>