<div class="slat slat-work <perch:content id="most_interesting" type="checkbox" label="Most Interesting" value="js-most-interesting" />">
	<div class="row">
		<div class="col-xs-12">
			<h3><perch:content type="text" id="place" label="Place of Employment" title="true"/></h3>
			<span><perch:content type="text" id="title" label="Title"/></span>
			<perch:if exists="description">
				<blockquote><perch:content type="textarea" id="description" label="Description" size="xs"/></blockquote>
			</perch:if>
			<perch:repeater id="description_lists" label="List Descriptions">
				<perch:before><ul></perch:before>
					<li><perch:content type="textarea" id="description_list" label="List Description" size="xs"/></li>
				<perch:after></ul></perch:after>
			</perch:repeater>
			<ul class="list-inline">
				<li><i class="fa fa-fw fa-map-marker"></i> <perch:content type="text" id="location" label="Location"/></li>
				<li><i class="fa fa-fw fa-clock-o"></i> <perch:content type="text" id="time" label="Time There"/></li>
				<perch:if exists="cv_project_link">
					<li class="pull-right"><a class="btn btn-xs btn-success" href="<perch:content type="text" id="cv_project_link" label="Project Link"/>"> View Project<i class="fa fa-fw fa-arrow-right"></i></a></li>
				</perch:if>
			</ul>
		</div>
	</div>
</div>