<div class="row">
	<perch:content id="most_interesting" type="checkbox" label="Most Interesting" value="js-most-interesting" suppress="true"/>
	<div class="col-lg-9 col-sm-8 project-cover" id="cover">
		<div class="title">
			<perch:content type="checkbox" id="nda" label="NDA Obfuscation Compliance" suppress="true"/>
			<perch:if exists="nda">
				<div class="label label-warning">NDA Obfuscation Compliance</div>
			</perch:if>
			<h2><perch:content type="text" id="project_title" label="Project Title" title="true" /></h2>
		</div>
	</div>
	<style>
		#cover{
			background-image: url("<perch:content type="image" id="project_coverImg" label="Cover Image" output="path"/>");
		}
	 </style>
	<div class="col-lg-3 col-sm-4 col-xs-10 palette2">
		<div class="meta">
			<p>
				<span><perch:content type="text" id="body" label="Project Author" default="Andrew R McHugh"/></span><br>
				<span><perch:content type="text" id="role" label="Role"/></span>
			</p>
			<perch:if exists="collaborators">
				<p>
					<span><perch:content type="text" id="collaborators" label="Other Collaborators"/></span><br>
					<span><perch:content type="text" id="collaborators_role" label="Collaborator Role" default="In Collaboration With"/></span>
				</p>
			</perch:if>
			<perch:content type="checkbox" id="ongoing" label="Ongoing" suppress="true"/>
			<p>
				<span><perch:content type="date" id="date_start" label="Start Date" format="F Y" native="true"/> <small class="p-lr-sm"><small>TO</small></small> <perch:if exists="ongoing">&mdash;<perch:else /><perch:content type="date" id="date_end" label="End Date" format="F Y" native="true"/></perch:if></span><br>
				<span><perch:content type="text" id="status" label="Status"/></span>
			</p>
			<perch:repeater id="project-tag" label="Project Tags">
				<perch:before>
					<div class="hidden">
						<ul>
				</perch:before>
				<li>#<perch:content type="text" id="tag" label="Tag"/></li>
				<perch:after>
						</ul>
					</div>
				</perch:after>
			</perch:repeater>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<section class="project-description">
			<perch:help>
				<p>I accomplished X, relative to Y, by doing Z.</p>
				<p>Five key characteristics: concept, craft, communication, process, and empathy.</p>
			</perch:help>
			<p>
				<perch:content id="project_description" type="textarea" label="Project Description" html="true" help="I accomplished X, relative to Y, by doing Z. Five key characteristics: concept, craft, communication, process, and empathy."/>
			</p>
		</section>
	</div>
</div>

<perch:if exists="medium-articles">
	<div class="row m-tb-md">
		<div class="col-md-6 col-md-offset-3">
			<h4>Read More on Medium</h4>
			<div class="text-center">
				<perch:repeater id="medium-articles" label="Medium Articles">
					<div class="m-wrapper">
						<perch:content type="text" id="medium-article" html="true" label="Medium Article" />
					</div>
				</perch:repeater>
			</div>
			<!--<div class="related-article">
				<i class="fa fa-newspaper-o fa-3x pull-left"></i>
				<strong>Read More on Medium</strong><br>
				I've written an article on this!
			</div>-->
		</div>
	</div>
</perch:if>
<div class="hidden">
<perch:repeater id="project-specials" label="Project Specials">
	<li> <i class="fa fa-fw fa-<perch:content type="text" id="special_icon" label="Special Icon" help="Just need to add the suffix to fa-*." suppress="true"/>"></i> <perch:if exists="special_link"><a target="_blank" href="<perch:content type="text" id="special_link" label="Special Link" suppress="true"/>"><perch:content type="text" id="special_label" label="Special Label" help="Label the icon." suppress="true"/></a></perch:if><perch:else><perch:content type="text" id="special_label" label="Special Label" help="Label the icon." suppress="true"/></perch:else></li>
</perch:repeater>
</div>