<div class="col-md-6">
	<div class="media project-card <perch:content id="most_interesting" type="checkbox" label="Most Interesting" value="js-most-interesting"/>">
		<a id="project-img-1" class="media-left project-card-img img-<perch:content id="perch_item_index" type="hidden" />" href="<perch:content id="_page" type="hidden"/>"></a>
		<div class="media-body">
			<perch:if exists="ongoing">
				<div class="badge-ongoing">
					<i class="fa fa-flash"></i>
				</div>
			</perch:if>
			<perch:if exists="most_interesting">
			<!-- I'm interesting -->
			</perch:if>
			<h4 class="media-heading"><perch:content type="text" id="project_title" label="Project Title" title="true" /></h4>
			<h5><perch:content id="subtitle" type="text" label="Subtitle" /></h5>
			<p><perch:content id="project_description" type="textarea" label="Project Description" html="false" chars="200" /></p>
			<div class="project-data">
				<ul class="list-inline">
					<perch:repeater id="project-specials" label="Project Specials">
						<li><i class="fa fa-fw fa-<perch:content type="text" id="special_icon" label="Special Icon" help="Just need to add the suffix to fa-*."/>"></i> <perch:if exists="special_link"><a target="_blank" href="<perch:content type="text" id="special_link" label="Special Link"/>"><perch:content type="text" id="special_label" label="Special Label" help="Label the icon."/></a><perch:else /><perch:content type="text" id="special_label" label="Special Label" help="Label the icon."/></perch:if></li>
					</perch:repeater>
					<perch:repeater id="project-tag" label="Project Tags">
						<li class="project-tag"><span class="text-info">#</span><perch:content type="text" id="tag" label="Tag"/></li>
					</perch:repeater>
				</ul>
			</div>
		</div><a class="btn btn-success btn-xs btn-view" href="<perch:content id="_page" type="hidden"/>">View Project <i class="fa fa-arrow-right"></i></a>
	</div>
</div>
<style>
	.img-<perch:content id="perch_item_index" type="hidden" />{
		background-image: url("<perch:content type="image" id="project_coverImg" label="Cover Image" output="path"/>");
	}
</style>
