<div class="pd-header">
   <div style="background-image: url('<perch:content type="image" id="project_coverImg" label="Cover Image" output="path"/>')" class="pd-img pd-img-hero"></div>
   <div class="pd-header-content">
      <div class="row">
         <div class="col-sm-10 col-xs-12">
            <h1><perch:content type="text" id="pd_title" label="Project Title" title="true" /></h1>
         </div>
      </div>
      <div class="row">
         <div class="col-md-8 col-xs-12">
            <h3><perch:content type="text" id="pd_subtitle" label="Project Subtitle" title="true" /></h3>
            <p class="lead"><perch:content id="pd_description_overview" type="textarea" label="Project Overview Description (tl;dr)" html="true" help="I accomplished X, relative to Y, by doing Z. Five key characteristics: concept, craft, communication, process, and empathy."/></p>
         </div>
         <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">
            <dl class="u-margin-top">
               <dt>Role</dt>
               <dd><perch:content type="text" id="pd_role" label="Role" default="UX Designer &amp; Developer"/></dd>
               <dt>Date</dt>
               <perch:content type="checkbox" id="ongoing" label="Ongoing" suppress="true"/>
               <dd><perch:content type="date" id="pd_date_start" label="Start Date" format="F Y" native="true"/> to <perch:if exists="ongoing">&mdash;<perch:else /><perch:content type="date" id="pd_date_end" label="End Date" format="F Y" native="true"/></perch:if><perch:content type="text" id="pd_ongoing_status" label="Ongoing Status"/></dd>

               <perch:if exists="pd_organization">
                  <dt>While At</dt>
                  <dd><perch:content type="text" id="pd_organization" label="Done while at"/></dd>
               </perch:if>

               <perch:if exists="pd_collaborators">
                  <dt>With</dt>
                  <dd><perch:content type="text" id="pd_collaborators" label="Other Collaborators"/></dd>
               </perch:if>

            </dl>
         </div>
      </div>
      <div class="row hidden">
         <div class="col-xs-12">
            <perch:repeater id="pd_tag" label="Project Tags">
               <perch:before>
                     <ul>
               </perch:before>
                        <li>#<perch:content type="text" id="pd_tag" label="Tag"/></li>
               <perch:after>
                     </ul>
               </perch:after>
            </perch:repeater>
         </div>
      </div>
   </div>
</div>
