<perch:blocks>

   <perch:block type="pd_section_header2_text" label="Header 2 and Text">
      <div class="row pd-section">
         <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <h2>Process</h2>
            <p class="fixie"></p>
         </div>
      </div>
   </perch:block>

   <perch:block type="pd_section_header" label="Header 3">
      <div class="row pd-section">
         <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <h3>Process</h3>
            <p class="fixie"></p>
         </div>
      </div>
   </perch:block>


   <perch:block type="pd_section_text" label="Text">
      <div class="row pd-section">
         <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <p class="fixie"></p>
         </div>
      </div>
   </perch:block>

   <perch:block type="pd_section_img_contain" label="Img Contain">
      <div class="row pd-section">
         <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="pd-img pd-img-contain"></div>
            <div class="pd-img-caption fixie"></div>
         </div>
      </div>
   </perch:block>

   <perch:block type="pd_section_img_wide" label="Img wide">
      <div class="row pd-section">
         <div class="col-xs-12">
            <div class="pd-img pd-img-wide"></div>
            <div class="pd-img-caption fixie"></div>
         </div>
      </div>
   </perch:block>

   <perch:block type="pd_section_img_side" label="Img side">
      <div class="row pd-section">
         <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="pd-img pd-img-side"></div>
            <div class="pd-img-caption fixie"></div>
         </div>
      </div>
   </perch:block>

   <perch:block type="pd_section_img_side-by-side" label="Img side-by-side">
      <div class="row pd-section">
         <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="pd-img pd-img-side-by-side"></div>
            <div class="pd-img pd-img-side-by-side"></div>
            <div class="pd-img-caption fixie"></div>
         </div>
      </div>
   </perch:block>

</perch:blocks>




