<div class="p-sec">
   <div class="container">
      <!-- row wrapper - prev col-12 col-sm-10 col-xl-8 -->
      <div class="">
         <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
               <h2>{{include.header}}</h2>
               <strong class="d-block mb-4">{{include.subheader}}</strong>
            </div>
            <div class="col">
               <div class="row row-cols-1 row-cols-sm-4">
                  {% for item in include.data %}
                  {% if include.col != undefined %}
                  <div class="{{include.col}} mb-4">
                  {% else %}
                  <div class="col mb-4">
                  {% endif %}
                     <div class="card h-100">
                        {% if include.imgBottom != true %}
                        <img src="{{item.url}}" class="card-img-top" alt="{{item.caption | strip_html}}">
                        {% endif %}
                        <div class="card-body">
                           <h5 class="card-title color-primary">{{item.header}}</h5>
                           <p class="card-text">{{item.caption}}</p>
                        </div>
                        {% if include.imgBottom == true %}
                        <img src="{{item.url}}" class="card-img-bottom" alt="{{item.caption | strip_html}}">
                        {% endif %}
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </div>
            <!-- <div class="col-12 col-lg-3"></div> -->
         </div>
      </div>
   </div>
</div>
