<!-- Footer -->
<div class="container-fluid">
   <div class="row footer pt-5">
      <div class="col-12">

            <!-- <div class="pe-2">
               <p class="text-center">&copy;</p>
            </div>
            <div class="flex-grow-1 text-wrap-balance">
               <p><strong>Andrew R McHugh</strong> turns R&D ambiguity into meaningful products.</p>
            </div> -->
            <!-- <div class="pe-2">
               <p class="text-center"></p>
            </div> -->
            <div class="text-wrap-balance text-center">
               <p>&copy; <strong>Andrew R McHugh</strong> turns R&D ambiguity into meaningful products.</p>
            </div>
            <!-- <div class="text-end ps-5 ml-3">
               <ul class="list-unstyled list-inline ">
                  {% for item in site.data.footer-social %}
                     <!- <li class="ml-3"><a class="text-primary" href="{{item.link}}">{{item.name}}</a></li> ->
                     <li class=" list-inline-item"><a class="text-primary" href="{{item.link}}">{%
                        include icon.html
                           icon = item.icon
                           size = 24
                        %}</a></li>
                  {% endfor %}
               </ul>
            </div> -->

            

      </div>
      <div class="col-12">
         <div class="text-nowrap align-items-center d-flex justify-content-center">
            {% for item in site.data.footer-social %}
               <a class="p-3" href="{{item.link}}">
               {%
                  include icon.html
                  icon = item.icon
                  size = 24
               %}
               </a>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
