<!-- Footer -->
<div class="container-fluid">
   <div class="row footer">
      <div class="col">
         <div class="d-flex">
            <div class="pe-2">
               <p class="text-center">&copy;</p>
            </div>
            <div class="flex-grow-1">
               <p><strong>Andrew R McHugh</strong> <br>turns R&D ambiguity into meaningful products.</p>
            </div>
            <div class="text-end">
               <ul class="list-unstyled">
                  {% for item in site.data.footer-social %}
                     <li class="ml-3"><a href="{{item.link}}">{{item.name}}</a></li>
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
