{% for project in site.data.projects %}
   {% if project.pID == page.pID %}
      {% assign p = project %}
   {% endif %}
{% endfor %}
<div class="jumbotron jumbotron-fluid" style="background-image:url('{{p.bgImg}}')">
   <div class="jumbotron-bg" style="background-color: {{p.bgColor}}"></div>
   <div class="container position-relative">
      {% include navigation-project.html %}
      <div class="row">
         <div class="col-12 col-lg-6 order-2 order-lg-1">
            <h1 class="display-2">{{p.title}}</h1>
            <h2>{{p.subtitle}}</h2>
            <p class="lead">{{p.description}}</p>
            <div class="row">
               <div class="col-12 col-md card-aside">
                  <div class="row">
                     <div class="col-12 col-sm-6">
                        <p><strong>Role</strong><br>{{p.role}}</p>
                     </div>
                     <div class="col-12 col-sm-6">
                        <p><strong>Date</strong><br>{{p.date}}</p>
                     </div>
                     <div class="col-12 col-sm-6">
                        <p><strong>While at</strong><br>{{p.whileAt}}</p>
                     </div>
                     <div class="col-12 col-sm-6">
                        <p><strong>With</strong><br>{{p.withWho}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex align-items-center">
            {% if p.imgJumbotronHero != unknown %}
            <img src="{{p.imgJumbotronHero}}" class="img-fluid img-rounded">
            {% endif %}
            {% if p.videoJumbotronHero != unknown %}
            <div class="embed-responsive embed-responsive-1by1 jumbotron-bottom">
               <video src="https://media.giphy.com/media/Kfla4WUFftXfgAD2QP/giphy.mp4" type="video/mp4" autoplay muted></video>
               <div class="jumbotron-video-gradient"></div>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</div>
