{% if p.light == true %}
{% assign lightDark = "light" %}
{% endif %}

<!-- <div class="jumbotron jumbotron-fluid {{lightDark}}" style="background-image:url('{{p.bgImg}}')"> -->
<div class="jumbotron jumbotron-fluid {{lightDark}}">
   <div class="jumbotron-bg"></div>
   <div class="container position-relative">
      {% include navigation-project.html %}
      <div class="row pb-5 justify-content-center">

         <div class="col-12 col-xl-10 col-xxl-8 d-flex align-items-center">
            {% if p.imgJumbotronHero %}
            <img src="{{p.imgJumbotronHero}}" class="img-fluid rounded mb-4">
            {% endif %}
            {% if p.videoJumbotronHero %}
            <div class="embed-responsive embed-responsive-5by4 ">
               <video class="embed-responsive-item object-fit-cover" src="{{p.videoJumbotronHero}}" type="video/mp4" autoplay muted loop playsinline></video>
            </div>
            {% endif %}
         </div>
         <div class="col-12 col-xl-10 col-xxl-8">
            <h1 class="mb-0 mt-2 text-wrap-pretty">{{p.title}}</h1>
            <h2 class="text-wrap-pretty">{{p.subtitle}}</h2>
            <div class="row">
               <div class="col-12 col-md card-aside my-3">
                  <div class="row">
                     <div class="col-12 col-sm-6">
                        <p class="fw-medium mb-0"><strong>Role</strong></p>
                        <p class="fw-medium">{{p.role}}</p>
                     </div>
                     <div class="col-12 col-sm-6">
                        <p class="fw-medium mb-0"><strong>Date</strong></p>
                        <p class="fw-medium">{{p.date}}</p>
                     </div>
                     {% if p.whileAt != null %}
                     <div class="col-12 col-sm-6">
                        <p class="fw-medium mb-0"><strong>While at</strong></p>
                        <p class="fw-medium">{{p.whileAt}}</p>
                     </div>
                     {% endif %}
                     {% if p.withWho != null %}
                     <div class="col-12 col-sm-6">
                        <p class="fw-medium mb-0"><strong>With</strong></p>
                        <p class="fw-medium">{{p.withWho}}</p>
                     </div>
                     {% endif %}
                  </div>
               </div>
               <p class="fw-medium lead text-wrap-pretty mb-5">{{p.description}}</p>
            </div>
         </div>
      </div>
   </div>
</div>
