<div class="-none p-sec">
   <div class="row">
      <div class="p-img-container">
         <img class="img-fluid" src="{{include.url}}">
         <div class="col justify-content-center">
            <div class="row justify-content-center">
               <div class="col-12 col-sm-10 col-xl-8">
                  <div class="p-img-caption">
                     {{include.caption | markdownify}}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
