{% if include.urlPage != false %}
{% assign urlPrepend = page.assetURL %}
{% else %}
{% assign urlPrepend = "" %}
{% endif %}

<div class="p-sec">
   <div class="container-fluid">
      <div class="">
         <div class="row">
            <div class="col">
               <div class="m-grid">
                  <div class="m-grid-sizer"></div>
                  <div class="m-gutter-sizer"></div>

                  {% for item in include.data %}
                     {% assign size = "m-grid-item--md" %}
                     {% if item.size == "lg" %}
                        {% assign size = "m-grid-item--lg" %}
                     {% endif %}

                     <div class="m-grid-item {{ size }}">
                        <div class="m-grid-content">
                           <img class="img-fluid rounded" src="{{item.imgurl | prepend: urlPrepend}}" alt="{{item.caption}}">
                           {% if item.caption %}
                              <p class="caption">{{item.caption}}</p>
                           {% endif %}
                        </div>
                     </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
