{% if include.urlPage != false %}
{% assign urlPrepend = page.assetURL %}
{% else %}
{% assign urlPrepend = "" %}
{% endif %}

<div class="p-sec">
   <div class="container-fluid">
      <div class="negative-margin">
         <div class="row">
            <div class="col">
               <div class="m-grid">
                  <div class="m-grid-sizer"></div>
                  <div class="m-gutter-sizer"></div>
                  {% assign imgstyle = false %}
                  {% if include.imgstyle != nil %}
                     {% assign imgstyle = include.imgstyle %}
                  {% endif %}

                  {% for item in include.data %}
                     {% assign size = "m-grid-item--md" %}
                     {% if item.size == "lg" %}
                        {% assign size = "m-grid-item--lg" %}
                     {% endif %}

                     {% assign video = false %}
                     {% if item.video != nil and item.video == true %}
                        {% assign video = true %}
                     {% endif %}

                     {% assign _imgstyle = imgstyle %}
                     {% if item.origin != nil %}
                        {% assign _imgstyle = _imgstyle | append: " object-position: " | append: item.origin | append: ";" %}
                     {% endif %}


                     <div class="m-grid-item {{ size }}">
                        <div class="m-grid-content">
                           {% if video %}
                              <div class="embed-responsive embed-responsive-{{item.aspect}}">
                                 <video class="embed-responsive-item" autoplay loop muted playsinline>
                                    <source src="{{item.imgurl | prepend: urlPrepend}}" type="video/mp4">
                                    Your browser does not support the video tag.
                                 </video>
                              </div>
                           {% else %}
                           <img class="img-fluid rounded" src="{{item.imgurl | prepend: urlPrepend}}" alt="{{item.caption | smartify}}" style="height: 200px; object-fit: cover; object-position: {{item.origin}};">
                           {% endif %}
                           {% if item.caption %}
                              <p class="caption">{{item.caption}}</p>
                           {% endif %}
                        </div>
                     </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
