{% if include.urlPage != false %}
{% assign urlPrepend = page.assetURL %}
{% else %}
{% assign urlPrepend = "" %}
{% endif %}

<!-- <div class="p-sec">
   <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-xl-8">
         <div class="row">
            <div class="col-12 col-md-4 col-lg-3"> -->

<div class="p-sec">
   <div class="container-fluid">
      <div class="row">
         <div class="p-img-container">
            <img class="img-fluid img-xl" src="{{include.url | prepend: urlPrepend}}" alt="{{include.caption}}">
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="col">
            <div class="row justify-content-center">
               <div class="col-12 col-md-4 col-lg-3"></div>
               <div class="col">
                  <div class="p-img-caption">
                     {{include.caption | markdownify}}
                  </div>
               </div>
               <div class="col-12 col-lg-3"></div>
            </div>
         </div>
      </div>
   </div>
</div>
