{% if include.header != undefined %}
<div class="-none p-sec p-sec-header">
{% else %}
<div class="-none p-sec">
{% endif %}
   <div class="container">
      <div class="">
         <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
               <h2>{{include.header}}</h2>
               <strong class="d-block mb-4">{{include.subheader}}</strong>
            </div>
            <div class="col">
               <div class="embed-responsive embed-responsive-{{include.aspect}}">
                  {% if include.loop == true %}
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{include.urlCode}}?rel=0&modestbranding=1&loop=1&playlist={{include.urlCode}}" allowfullscreen loop></iframe>
                  {% else %}
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{include.urlCode}}?rel=0&modestbranding=1" allowfullscreen></iframe>
                  {% endif %}
               </div>
            </div>

            {% if include.style == "lg" %}
            <div class="col-12"></div>
            {% else %}
            <div class="col-12 col-lg-3"></div>
            {% endif %}
         </div>
         <div class="row">
            <div class="col-12 col-md-4 col-lg-3"></div>
            <div class="col">
               <div class="p-img-caption">
                  {{include.caption | markdownify}}
               </div>
            </div>
            <div class="col-12 col-lg-3"></div>
         </div>
      </div>
   </div>
</div>
