{% if include.urlPage != false %}
{% assign urlPrepend = page.modelURL %}
{% else %}
{% assign urlPrepend = "" %}
{% endif %}
{% assign viewOnMobile = "<span class='visible-desktop invisible'>View in AR on mobile.</span>" %}

{% capture caption %}{{ include.caption }} {{ viewOnMobile }}{% endcapture %}


{% if include.header != undefined %}
<div class="-none p-sec p-sec-header">
{% else %}
<div class="-none p-sec">
{% endif %}
   <div class="container">
      <div class="">
         <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
               <h2>{{include.header}}</h2>
               <strong class="d-block mb-4">{{include.subheader}}</strong>
            </div>
            <div class="col">
               <model-viewer
                  src="{{include.model | prepend:urlPrepend}}"
                  alt="{{include.caption}}"
                  {% if include.autoRotate == true %} auto-rotate="true" {% endif %}
                  {% if include.cameraControls == true %} camera-controls="true" {% endif %}
                  {% if include.cameraOrbit != undefined %} camera-orbit="{{include.cameraOrbit}}" {% endif %}
                  {% if include.cameraOrbitMin != undefined %} min-camera-orbit="{{include.cameraOrbitMin}}" {% endif %}
                  {% if include.cameraOrbitMax != undefined %} max-camera-orbit="{{include.cameraOrbitMax}}" {% endif %}
                  {% if include.cameraTarget != undefined %} camera-target="{{include.cameraTarget}}" {% endif %}
                  {% if include.arPlacement != undefined %} ar-placement="{{include.arPlacement}}" {% endif %}
                  {% if include.interactionPrompt != undefined %}
                  interaction-prompt="{{include.interactionPrompt}}"
                  {% else %}
                  interaction-prompt="when-focused"
                  {% endif %}
                  ar
                  ar-scale="fixed"
                  ios-src="{{include.modeliOS | prepend:urlPrepend}}"
                  >
               </model-viewer>
            </div>
            {% if include.style == "lg" %}
            <div class="col-12"></div>
            {% else %}
            <div class="col-12 col-lg-3"></div>
            {% endif %}
         </div>
         <div class="row">
            <div class="col-12 col-md-4 col-lg-3"></div>
            <div class="col">
               <div class="p-img-caption">
                  {{caption | markdownify}}
               </div>
            </div>
            <div class="col-12 col-lg-3"></div>
         </div>
      </div>
   </div>
</div>
