{% if include.urlPage != false %}
{% assign urlPrepend = page.assetURL %}
{% else %}
{% assign urlPrepend = "" %}
{% endif %}

{% if include.header != undefined %}
<div class="p-sec p-sec-header">
{% else %}
<div class="p-sec">
{% endif %}
   <div class="container">
      <div class="">
         <div class="row">
            <div class="{% include template-p-col-left.html %}">
               {% if include.header or include.subheader %}

                  {% if include.header %}
                  <h2 class="section-header">{{include.header}}</h2>
                  {% endif %}
                  {% if include.subheader %}
                  <strong class="d-block mb-4">{{include.subheader}}</strong>
                  {% endif %}

               {% endif %}
            </div>
            <div class="col">
               {% if include.url != "" and include.url != unknown %}
               <div class="p-img-container">
                  <img class="img-fluid rounded" src="{{include.url | prepend:urlPrepend}}">
                  <div class="p-img-caption">
                     {{include.caption | markdownify}}
                  </div>
               </div>
               {% endif %}
               {{include.content | markdownify}}
            </div>
            <div class="{% include template-p-col-right.html %}"></div>
         </div>
      </div>
   </div>
</div>
