{% if include.left == true %}
<div class=' project-card b-o-w left-hand'>
{% else %}
<div class=' project-card b-o-w'>
{% endif %}
   <div class='row'>
      <div class='col-12 col-lg-4 d-flex align-items-end'>
         <div class='project-description'>
            <h2>{{include.title}} {{include.emoji}}</h2>
            <h3>{{include.subtitle}}</h3>
            <p>{{include.description}}</p>
         </div>
      </div>
      <div class='col-12 col-lg'>
         <img class="hero" src='{{include.imgHero}}'>
         <div class='thumb-container d-flex justify-content-between justify-content-sm-around justify-content-lg-start flex-lg-column'>
            <img class='thumb' src='{{include.imgThumb1}}' style='object-position: {{include.imgThumb1Position}}'>
            <img class='thumb' src='{{include.imgThumb2}}' style='object-position: {{include.imgThumb2Position}}'>
            <img class='thumb' src='{{include.imgThumb3}}' style='object-position: {{include.imgThumb3Position}}'>
         </div>
      </div>
   </div>
   <div class='row d-flex flex-column-reverse flex-lg-row'>
      <div class='col-12 col-lg-4 d-flex align-items-center'>
         <a class='btn btn-primary btn-block btn-view-project shade-{{include.title | downcase}}' href='#'>View project</a>
      </div>
      <div class='col-12 col-lg'>
         <div class='row project-meta small'>
            <div class='col-6 col-lg'>
               <strong>Role</strong>
               <p>{{include.role}}</p>
            </div>
            <div class='col-6 col-lg'>
               <strong>Date</strong>
               <p>{{include.date}}</p>
            </div>
            <div class="w-100 m-1 d-md-none"></div>
            <div class='col-6 col-lg'>
               <strong>While at</strong>
               <p>{{include.whileAt}}</p>
            </div>
            <div class='col-6 col-lg'>
               <strong>With</strong>
               <p>{{include.withWho}}</p>
            </div>
         </div>
      </div>
   </div>
</div>
