<div class="project-hero-mediawall pt-4">
    <div class='row'>
        <!-- <div class='col-1'></div> -->
        <div class='col'>
            <img src='{{include.imgHero}}'>
        </div>
        <div class='col'>
            <img src='{{include.imgThumb1}}'>
        </div>
        <div class='col-1'></div>
    </div>
    <div class='row pt-5'>
        <div class='col-1'></div>
        <div class='col'>
            <img src='{{include.imgThumb2}}'>
        </div>
        <div class='col'>
            <img src='{{include.imgThumb3}}'>
        </div>
        <div class='col-1'></div>
    </div>
</div>