
<div class='project-hero project-{{include.short}}'>
    <div class="container">
        <div class='row'>
            <div class='col'>
                <div class='project-description'>
                    <h2>{{include.title}} {{include.emoji}}</h2>
                    <h3>{{include.subtitle}}</h3>
                    <p><small>{{include.dateYears}} • {{include.role}}</small></p>
                    <p>{{include.description}}</p>
                </div>
                <a class='btn btn-primary btn-lg btn-view-project shade-{{include.title | downcase}}' href='/projects/{{include.url}}'>View ></a>
            </div>
        </div>
    </div>
    {% include project-hero-mediawall.html %}
</div>
