
<div class='project-hero project-{{include.short}}'>
    <div class="container">
        <div class='row justify-content-center'>
            <div class='col-11 col-sm-10 col-lg-8 col-xl-7'>
                <div class='project-description'>
                    <h2>{{include.title}} {{include.emoji}}</h2>
                    <h3>{{include.subtitle}}</h3>
                    <p><small>{{include.dateYears}} • {{include.role}}</small></p>
                    <p>{{include.description}}</p>
                </div>
                <a class='btn btn-primary btn-view-project shade-{{include.short | downcase}}' href='/projects/{{include.url}}'>Learn more →</a>
            </div>
        </div>
    </div>
    {% include project-hero-mediawall.html %}
</div>