<div class="-none row text-center m-1 position-fixed fixed-top">
   <div class="col d-block d-sm-none bg-primary rounded-lg">
      XS
   </div>
   <div class="col d-none d-sm-block d-md-none bg-secondary rounded-lg">
      SM
   </div>
   <div class="col d-none d-md-block d-lg-none bg-success rounded-lg">
      MD
   </div>
   <div class="col d-none d-lg-block d-xl-none bg-warning rounded-lg">
      LG
   </div>
   <div class="col d-none d-xl-block bg-danger rounded-lg">
      XL
   </div>
</div>
