<!doctype html>
<html lang="en">
<head>
   {% include common-header-css.html %}

   {% seo %}

</head>

{% for project in site.data.projects %}
   {% if project.pID == page.pID %}
      {% assign p = project %}
   {% endif %}
{% endfor %}

{% assign debug = false %}

<body class="project-{{p.short}}">
   {% include util-responsive-size.html debug=debug %}
   
   <div class="page">
      <div class="page-header">
         {% include jumbotron-header.html %}
      </div>
      <div class="page-body">
         {% include project-glance.html %}
         {% include navigation-sections.html debug=debug %}
         {{ content }}
      </div>
   </div>
   {% include footer.html %}
   {% include common-js.html %}
</body>
</html>
