// Utility classes
.m-b-md{
   margin-bottom: 20px;
}
.m-b-lg{
   margin-bottom: 50px;
}
.iphone-border{
   width: 320px;
   height: 568px;
   border: 5px solid rgba(255,0,0,.5);
   position: absolute;
}
.row.u-grid{
   z-index: @zindex-tooltip;
   position: absolute;
   color: @brand-danger;
   .col-*{
      height: 30px;
   }
}

// Stylez

.homepage-hero{
   position: relative;
   z-index: 10;
   top: 150px;
   color: @palette-white;
   h3{
      margin-bottom: 35px;
   }
   @media (min-width: @screen-md-min) {
      top: 300px;
   }
}

/////////////
