h1,
h2{
   + h3{
      margin-top: 0px;
   }
}
h1{
   line-height: 1.1;
}
h3{
   text-transform: uppercase;
   letter-spacing: 3px;
   font-weight: 300;
   font-size: @font-size-large;
}
.section-bio,
.section-projects{
   h1{
      text-align: center;
      + h3{
         text-align: center;
      }
   }
   p{
      font-family: @font-family-sans-serif;
      &.lead{
         font-style: normal;
      }
   }
   .h-shows{
      font-weight: 600;
      text-transform: uppercase;
      font-variant: small-caps;
      letter-spacing: 1px;
      font-size: 90%;
   }
}
.section-bio{
   h1{
      margin-bottom: 10px;
   }
}
ul,
ol,
p{
   font-family: @font-family-serif;
   &.lead{
      font-family: @font-family-sans-serif;
      font-weight: 300;
      font-style: italic;
      line-height: 1.5;
      a{
      border-bottom: @link-underline-color 2px solid;
         &:hover{
            border-bottom: @link-underline-color 2px solid;
         }
      }
      strong{
         font-weight: 600;
      }
   }
   a{
      border-bottom: @link-underline-color 1px solid;
      transition: color 0.5s ease;
      &:hover{
         color: mix(@palette-orange, @palette-white, 70%);
         border-bottom: @link-underline-color 1px solid;
         cursor: pointer;
      }
   }
   li{
      margin-bottom: @line-height-computed / 4;

   }
}
h3{
   a{
      border-bottom: @link-underline-color 2px solid;
      transition: color 0.5s ease;
      &:hover{
         color: mix(@palette-orange, @palette-white, 70%);
         border-bottom: @link-underline-color 2px solid;
         cursor: pointer;
      }
   }
}
blockquote{
   font-style: italic;
   margin-left: (@grid-gutter-width / -3) - 5px;
   padding-left: @grid-gutter-width / 3;
   @media (min-width: @screen-sm-min){
      margin-left: (@grid-gutter-width / -2) - 5px;
      padding-left: @grid-gutter-width / 2;
   }
   p:last-of-type{
      font-style: normal;
      font-size: @font-size-small;
      opacity: .7;
      text-indent: -1.2em;
      padding-left: 1.2em;
   }
}
p,
blockquote{
   &:empty{
      display: none;
      visibility: hidden;
   }
}
b,
strong{
   color: darken(@palette-dark-blue, 15%);
}
h3 + p,
h3 + p + p{
   > strong > em{
      top: -20px;
      position: relative;
   }
}
.connect-links{
   display: flex;
   justify-content: space-between;
   font-size: 22px;
}
