html,
body{
   @media (min-width: @screen-sm-min) {
      font-size: 16px; //edit
   }
}
h1,
h2{
   + h3{
      margin-top: 0px;
   }
}
h3{
   font-variant: small-caps;
   text-transform: lowercase;
   letter-spacing: 3px;
   font-weight: 300;
   font-size: 15px;
}
h4{}
h5{}
h6{}
p{
   font-family: "Droid Serif";
   line-height: 1.8;
   &.lead{
      font-family: "Lato";
      font-weight: 300;
      font-style: italic;
      margin-bottom: 50px;
   }
   a{
      color: @palette-white;
      border-bottom: @palette-orange 2px solid;
      &:hover{
         color: mix(@palette-orange, @palette-white, 70%);
         border-bottom: @palette-orange 1px solid;
         text-decoration: none;
         cursor: pointer;
      }
   }
}
