html,
body{
   @media (min-width: @screen-sm-min) {
      font-size: 16px; //edit
   }
}
h1,
h2{
   + h3{
      margin-top: 0px;
   }
}
h3{
   font-variant: small-caps;
   text-transform: lowercase;
   letter-spacing: 3px;
   font-weight: 300;
   font-size: 15px; //edit
}
h4{}
h5{}
h6{}
p{
   font-family: @font-family-serif;
   line-height: 1.8;
   &.lead{
      font-family: @font-family-sans-serif;
      font-weight: 300;
      font-style: italic;
      margin-bottom: 50px;
      a{
      border-bottom: @link-underline-color 2px solid;
         &:hover{
            border-bottom: @link-underline-color 2px solid;
         }
      }
   }
   a{
      border-bottom: @link-underline-color 1px solid;
      transition: color 0.5s ease;
      &:hover{
         color: mix(@palette-orange, @palette-white, 70%);
         border-bottom: @link-underline-color 1px solid;
         cursor: pointer;
      }
   }
}
ul:not(.pager){ //edit needed?
   font-family: "Droid Serif";
}
